<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Car of the Month Calendar</title>
    <link rel="stylesheet" href="/static/css/styles.css">
    <link rel="stylesheet" href="/static/css/car_of_the_month.css">
</head>
<body>
    <h1>Car of the Month</h1>
    <p>Vote & submit your car @joshkocherrr on Instagram</p>
    <div class="calendar-grid">
        {% for month in months %}
            <div class="month-box">
                <h2>{{ month.name }}</h2>
                {% if month.image %}
                    <img src="{{ url_for('static', filename='images/car_of_the_month/' + month.image) }}" alt="{{ month.name }} Car of the Month">
                {% else %}
                    <p>TBD Vote & submit your car @joshkocherrr on Instagram</p>
                {% endif %}
            </div>
        {% endfor %}
    </div>
</body>
</html>
